// -- colors

$palette-gray1: #C2C2C2;
$palette-gray2: #898989;
$palette-gray3: #464646;
$palette-gray4: #393939;
$palette-gray5: #252525;

$palette-black: $palette-gray4;
$palette-white: #EFEFEF;

// -- typography

// title
$title-typeface: "Megrim", sans-serif;
$title-weight: 400;
$title-size: 128px;
$title-line-height: 1;

// headings
$heading-typeface: "Open Sans", sans-serif;
$heading-weight: 700;
$heading-size: 24px;
$heading-line-height: 1.2;

// body
$body-typeface: "Open Sans", sans-serif;
$body-weight: 400;
$body-size: 16px;
$body-line-height: 1.6;
